<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://192.168.188.147/my-app/public/instructor/dashboard">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://192.168.188.147/angular-example/browser/">Get Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="http://192.168.188.147/angular-example/browser//report-show">Ticket Filters</a>
      </li>
    </ul>
  </div>
</nav>
